@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Excalifont';
    font-weight: 400;
    src: url("../assets/fonts/Excalifont.woff2") format("woff2");
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, li, span, button {
    font-family: 'Inter', sans-serif;
}